<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %10thread %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/find-flight.%d.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>512MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d %10thread %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.injecto.findflight.controllers.FlightsController" level="debug" />

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>